body {
    margin: 0;
    padding: 0;
}

.stage {
    background-image: url(../img/bg/sand.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.card, .photo-card {
    font-family: 'Abel', sans-serif;

    width: 400px;
    height: 648px;
    background-image: url(../img/bg/paper.jpg);
    background-size: cover;
    border: solid 1px lightgray;
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.photo-card {
    width: 1024px;
    height: 888px;
}

.photo {
    width: 1024px;
    height: 768px;
    border-radius: 10px;
}

.photo-caption {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.photo-label {
    margin-top: 20px;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

.title {
    font-family: 'Francois One', sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 55pt;
}

h1.card-title {
    font-family: 'Francois One', sans-serif;
    position: relative;
    font-size: 70pt;
    text-align: center;
}

.dragging {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.75);
}

.bg {
    background-size: cover;
    background-position: left;
    display: flex;
}

.back {
    background-position: center;
}

.back.has-photo {
    background-position: left;
}

.misc.back {
    background-image: url(../img/bg/stars.jpg);
    color: whitesmoke;
}

.istf.back {
    background-image: url(../img/bg/unicorn.jpg);
}
