.card li {
    font-size: 16pt;
}

.languages {
    color: #0288D1;
}

.communication {
    color: #26A69A;
}

.vpn {
    color: #00BCD4;
}

.hardware {
    color: #795548
}

.people {
    margin-top:40px;
}

.new {
    color: #7C4DFF;
    font-weight: bold;
}

