.card li {
    font-size: 16pt;
}

.list {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    padding-left: 24px;
}

.languages {
    color: #0288D1;
}

.communication {
    color: #26A69A;
}

.vpn {
    color: #00BCD4;
}

.hardware {
    color: #795548
}

.new {
    color: #7C4DFF;
    font-weight: bold;
}

